* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: #ee4d2d;
  display: flex;
  color: white;
  padding: 10px;
  font-weight: bold;
}



.products-container {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 10px;
}

img {
  width: 250px;
  height: 250px;
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
}

.card-description {
  display: flex;
  width: 320px;
  height: 190px;
  gap: 10px;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  color: #ee4d2d;
}

.add {
  display: flex;
  margin-left: 200px;
  width: 80px;
  height: 25px;
  background-color: #ee4d2d;
  border-radius: 5px 5px 5px 5px;
  border-color: #ee4d2d;
  color: white;
  justify-content: center;
  font-size: 15px;
}

.gg {
  display: flex;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: #ee4d2d;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 19px;
  font-weight: bold;
}
